server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:jmlwmb;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=false
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: none   # <-- kluczowe: nie waliduj zanim Flyway zrobi schema
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: false
  flyway:
    enabled: true
    locations: classpath:db/migration
logging:
  level:
    org.flywaydb: DEBUG
    org.springframework.jdbc.datasource.init: DEBUG
app:
  cors:
    allowed-origins: "http://localhost:4200"
  security:
    jwt:
      issuer: "spring-angular-security"
      access-ttl-minutes: 10
      refresh-ttl-days: 14
      secret: "CHANGE_ME_TO_A_LONG_RANDOM_SECRET_32CHARS_MIN"
